body{
    margin:0;
    font-family:Segoe UI,sans-serif;
    background:#f8fafc;
}

header{
    background:#1e293b;
    color:white;
    padding:20px;
}

main{
justify-content: center center;
}

#graph-panel,
#sphere-panel{
    background:white;
    border:1px solid #cbd5e1;
    border-radius:8px;
    padding:15px;
}

#graph,
#sphere{
    height:500px;
}

#controls{
    padding:20px;
}

.control{
    margin-bottom:15px;
}


#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cambiamos de 3 a 4 columnas */
    gap: 20px;
    padding: 20px;
}

.card{
    background:white;
    border:1px solid #cbd5e1;
    border-radius:8px;
    padding:15px;
}




/* Centra el panel en la pantalla */
main {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    padding: 30px 20px;
    background: #f8fafc;
}

/* El panel blanco */
#graph-panel {
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    
    /* Flexbox interno para centrar el título y el gráfico */
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    /* El panel se ajustará exactamente al contenido */
    width: fit-content; 
}

/* Centrado del título del panel */
#graph-panel h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #0f172a;
    text-align: center;
}

/* Contenedor del SVG de D3.js */
#graph {
    width: 700px;
    height: 450px;
}